Host 192.168.56.101
  HostName 192.168.56.101
  User vagrant
  IdentityFile /Users/thomasnyambati/playground/devops/assesment/.vagrant/machines/lb/virtualbox/private_key

Host 192.168.56.102
  HostName 192.168.56.102
  User vagrant
  IdentityFile /Users/thomasnyambati/playground/devops/assesment/.vagrant/machines/web/virtualbox/private_key

Host 192.168.56.103
  HostName 192.168.56.103
  IdentityFile /Users/thomasnyambati/playground/devops/assesment/.vagrant/machines/web1/virtualbox/private_key

Host 192.168.56.104
  HostName 192.168.56.104
  User vagrant
  IdentityFile /Users/thomasnyambati/playground/devops/assesment/.vagrant/machines/db/virtualbox/private_key

Host 192.168.56.105
  IdentityFile /Users/thomasnyambati/playground/devops/assesment/.vagrant/machines/db1/virtualbox/private_key
  IdentitiesOnly yes

Host 192.168.56.106
  HostName 192.168.56.106
  IdentityFile /Users/thomasnyambati/playground/devops/assesment/.vagrant/machines/db2/virtualbox/private_key

